<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Stupid Coaching</h1>

    <p><%= @answer %></p>

    <p><%= link_to "Ask a new question", ask_path %></p>

  </body>
</html>
