<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Stupid Coaching</h1>

    <form action="/answer" method="get">
      <input type="text" name="question" placeholder="What can I do for you?">
      <input type="submit">
    </form>

  </body>
</html>
